{{ form_ajax(__SELF__~'::onSignin', { class: 'register_form','data-request-validate':''}) }}
<div class="form_title">
    {{ 'topnav.login'|_ }}
</div>
<div class="form_text">
    {{ 'auth.account_recov'|_ }}
</div>
<div>
    <span class="error_span t-c" data-validate-for="no_user" style="color: red;"></span>
</div>
<div class="register_input">
    <input type="text" name="username" placeholder="{{'auth.phone'|_}}">
    <div data-validate-for="username"></div>
</div>
<div class="register_input">
    <input type="password" name="password" placeholder="{{'auth.password'|_}}">
    <div data-validate-for="password"></div>
</div>
<button data-attach-loading type="submit" class="form_btn">{{ 'auth.login_to_account'|_ }}</button>
{{ form_close() }}
