
<section class="register">
    <div class="auto_container">
        <div class="register_wrap">
            <div class="register_body">
                <div class="register_buttons">
                    <div class="user_btn" id="btn-1">
                        <img src="{{ 'assets/images/svg/log-in-blue.svg'|theme }}" alt="">
                        <span><nobr>{{ 'topnav.login'|_ }}</nobr></span>
                    </div>
                    <div class="user_btn" id="btn-2">
                        <img src="{{ 'assets/images/svg/user-plus-blue.svg'|theme }}" alt="">
                        <span><nobr>{{ 'topnav.reg'|_ }}</nobr></span>
                    </div>
                </div>
                <div class="register_banner">
                    <div class="register_logo">
                        <img src="{{ 'assets/images/register_logo.png'|theme }}" alt="">
                    </div>
                    <div class="register_title">
                        {{ short_name }}
                    </div>
                    <div class="register_text">
                        {{ 'site.name'|_ }}
                    </div>
                    <div class="register_foot">
                        <div class="register_mail">
                            <img src="{{ 'assets/images/svg/login_mail.svg'|theme }}" alt="">
                        </div>
                        <a href="#" class="register_link">
                            info@exchange.gov.tm
                        </a>
                    </div>
                </div>
                {% component 'account' %}

            </div>
        </div>
    </div>
</section>
