<section class="register">
    <div class="auto_container">
        <div class="register_wrap">
            <div class="register_body">
                <div class="register_buttons">
                    <div class="user_btn" id="btn-1">
                        <img src="images/svg/log-in-blue.svg" alt="">
                        <span>Войти</span>
                    </div>
                    <div class="user_btn" id="btn-2">
                        <img src="images/svg/user-plus-blue.svg" alt="">
                        <span>Регистрация</span>
                    </div>
                </div>
                <div class="register_banner">
                    <div class="register_logo">
                        <img src="images/register_logo.png" alt="">
                    </div>
                    <div class="register_title">
                        ГТСБТ
                    </div>
                    <div class="register_text">
                        Государственная
                        товарно-сырьевая
                        биржа Туркменистана
                    </div>
                    <div class="register_foot">
                        <div class="register_mail">
                            <img src="images/svg/login_mail.svg" alt="">
                        </div>
                        <a href="#" class="register_link">
                            info@exchange.gov.tm
                        </a>
                    </div>
                </div>
                <div class="register_content">
                    <form action="#" class="register_form">
                        <div class="form_title">
                            Регистрация
                        </div>
                        <div class="register_input">
                            <input type="text" placeholder="Ваш логин">
                        </div>
                        <div class="register_input">
                            <input type="email" placeholder="Ваш электронный адрес">
                        </div>
                        <div class="register_input">
                            <input type="number" placeholder="Номер телефона">
                        </div>
                        <div class="register_input">
                            <input type="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="form_btn">Продолжить регистрацию</button>
                    </form>
                </div>

                <div class="register_content_2">
                    <form action="#" class="register_form">
                        <div class="form_title">
                            Войти
                        </div>
                        <div class="form_text">
                            Если вы забыли свой логин или пароль, просим вас
                            восстановить его по <a href="#" class="form_link">ссылке.</a>
                        </div>
                        <div class="register_input">
                            <input type="text" placeholder="Ваш логин">
                        </div>
                        <div class="register_input">
                            <input type="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="form_btn"> Войти в свой профиль</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
