<section class="register">
    <div class="auto_container">
        <div class="register_wrap">
            <div class="register_body">
                <div class="register_buttons">
                    <div class="user_btn" id="btn-1">
                        <img src="{{ 'assets/images/svg/log-in-blue.svg'|theme }}" alt="">
                        <span><nobr>{{ 'topnav.login'|_ }}</nobr></span>
                    </div>
                    <div class="user_btn" id="btn-2">
                        <img src="{{ 'assets/images/svg/user-plus-blue.svg'|theme }}" alt="">
                        <span><nobr>{{ 'topnav.reg'|_ }}</nobr></span>
                    </div>
                </div>
                <div class="register_banner">
                    <div class="register_logo">
                        <img src="{{ 'assets/images/register_logo.png'|theme }}" alt="">
                    </div>
                    <div class="register_title">
                        {{ short_name }}
                    </div>
                    <div class="register_text">
                        {{ 'site.name'|_ }}
                    </div>
                    <div class="register_foot">
                        <div class="register_mail">
                            <img src="{{ 'assets/images/svg/login_mail.svg'|theme }}" alt="">
                        </div>
                        <a href="#" class="register_link">
                            info@exchange.gov.tm
                        </a>
                    </div>
                </div>
                <div class="register_content">
                    <form action="#" class="register_form">
                        <div class="form_title">
                            {{ 'topnav.reg'|_ }}
                        </div>
                        <div class="register_input">
                            <input type="text" placeholder="Ваш логин">
                        </div>
                        <div class="register_input">
                            <input type="email" placeholder="Ваш электронный адрес">
                        </div>
                        <div class="register_input">
                            <input type="number" placeholder="Номер телефона">
                        </div>
                        <div class="register_input">
                            <input type="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="form_btn">{{ 'auth.reg_continue'|_ }}</button>
                    </form>
                </div>

                <div class="register_content_2">
                    <form action="#" class="register_form">
                        <div class="form_title">
                            {{ 'topnav.login'|_ }}
                        </div>
                        <div class="form_text">
                            {{ 'auth.account_recov'|_ }}
                        </div>
                        <div class="register_input">
                            <input type="text" placeholder="Ваш логин">
                        </div>
                        <div class="register_input">
                            <input type="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="form_btn">{{ 'auth.login_to_account'|_ }}</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
