<footer class="footer">
    <div class="auto_container">
        <div class="footer_wrap">
            <div class="footer_content">
                <a href="index.html" class="foot_logo">
                    <div class="footer_img">
                        <img src="{{'assets/images/register_logo.png'|theme}}" alt="logo">
                    </div>
                    <div class="foot_logo_text">
                        Государственная товарно-сырьевая <br>
                        биржа Туркменистана
                    </div>
                </a>
                <div class="foot_outer">
                    <div class="foot_col">
                        <div class="foot_title">
                            Категории
                        </div>
                        <div class="foot_box">
                            <a href="#" class="foot_item">
                                Нефтехимия
                            </a>
                            <a href="#" class="foot_item">
                                Машиностроение
                            </a>
                            <a href="#" class="foot_item">
                                Легкая промышленность
                            </a>
                            <a href="#" class="foot_item">
                                Стройматериалы
                            </a>
                        </div>
                    </div>
                    <div class="foot_col">
                        <div class="foot_title">
                            Контакты
                        </div>
                        <div class="foot_box">
                            <div class="foot_item">
                                Тел: +99312446015
                            </div>
                            <div class="foot_item">
                                Эл. почта: info@exchange.gov.tm
                            </div>
                            <div class="foot_item">
                                Адрес: 744000, Туркменистан <br>
                                г.Ашгабат, Арчабиль шаелы 52
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                © TDHСMB все права зашишены
            </div>
        </div>
    </div>
</footer>
