[categories categories3]
active = 1
slug = "{{ :slug }}"
renderFeatures = "footer"

[viewBag]
==
<footer class="footer">
    <div class="auto_container">
        <div class="footer_wrap">
            <div class="footer_content">
                <a href="{{'index'|page}}" class="foot_logo">
                    <div class="footer_img">
                        <img src="{{'assets/images/register_logo.png'|theme}}" alt="logo">
                    </div>
                    <div class="foot_logo_text">
                        {{ site_name|raw }}
                    </div>
                </a>
                <div class="foot_outer">
                    <div class="foot_col">
                        <div class="foot_title">
                            {{ 'footer.categories'|_ }}
                        </div>
                        <div class="foot_box">
                            {% component 'categories3' %}
                        </div>
                    </div>
                    <div class="foot_col">
                        <div class="foot_title">
                            {{ 'footer.contacts'|_ }}
                        </div>
                        <div class="foot_box">
                            <div class="foot_item">
                                {{ 'footer.tel'|_ }}: {{ phone }}
                            </div>
                            <div class="foot_item">
                                {{ 'footer.email'|_ }}: {{ email }}
                            </div>
                            <div class="foot_item">
                                {{ 'footer.address'|_ }}: {{ address|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                {{ 'footer.copyright'|_ }}
            </div>
        </div>
    </div>
</footer>
